services:
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      - PORT=5000
      - AI_ENGINE_URL=http://ai-engine:8000
      - MONGO_URI=mongodb://mongodb:27017/bhashaflow
    depends_on:
      - mongodb

  ai-engine:
    build: ./ai-engine
    ports:
      - "8000:8000"
    volumes:
      - ./ai-engine:/app

volumes:
  mongo_data: